<h2>A propos</h2>

<div class="blocAbout">
    <div class="photoMe">
        <img src="../../assets/images/me.gif" alt="Dessin de moi qui fait un clin d'oeil">
    </div>
    <div class="paragraphMe">
        <p>Je m'appelle Maureen, j'ai 30 ans et je suis <strong>développeuse front-end junior</strong>. Le code, et l'informatique en général, me passionnent depuis très longtemps. À côté de ça j'aime également les jeux vidéos, la photographie, les festivals, les gifs et les requins.<br><br>
        Pour l'instant je suis à la recherche d'un stage (de mars à mai 2022).<br>
        Intéressé? Contactez-moi.</p>

        <div class="btnCV">
            <a href="../../assets/files/CV_MaureenVanhoren_FR.pdf">Téléchargez mon CV</a>
        </div>
    </div>
</div>

<div class="blank"></div>