.btnCV
    background-color: #168497
    padding: 12px 20px 12px 20px
    border-radius: 20px
    margin-top: 5px
    cursor: pointer
    border: 1px solid #168497
    width: 150px

    a
        color: white

    &:hover
        background-color: white
        border: 1px solid #168497
        color: #168497
        
        a
            color: #168497