.project
    display: flex

    .left
        width: 40%
    
    .right
        width: 60%

    img
        width: 400px

        &:hover
            opacity: 0.5

.overlay
    background-color: #168497
    width: 400px
    height: 186px