<h2>Projets</h2>

<div class="project">
    <div class="left">
        <a href="https://github.com/Lison-creator/home_safe"><img src="/assets/images/homesafe.jpg" alt="Capture d'écran du site web de Home Safe"></a>
    </div>
    <div class="right">
        <h4>Home Safe</h4>
        <p class="subtitle">Site web & application mobile</p>
        <p><i>En développement</i></p>
        <p>Créé avec Manon Lespes et Lison Ferné</p>
    </div>
</div>

<div class="project deux">
    <div class="left">
        <a href="/assets/images/cartepostale.png"><img src="/assets/images/cartepostale.png" alt="Carte postale"></a>
    </div>
    <div class="right">
        <h4>Carte postale</h4>
        <p class="subtitle">Fait pour un projet d'école</p>
        <p>Outil: Adobe Illustrator</p>
    </div>
</div>

<div class="blank"></div>