.project
    display: flex
    flex-direction: row
    align-items: center     
    
    .right
        width: 60%
        margin-left: 5%

    img
        width: 25vw

.deux
    margin-top: 20px

/* Responsive */
@media (max-width: 576px)
    .project
        flex-direction: column

        .left img
            width: 100%

        .right
            width: 100%