<h2>Contact</h2>

<div class="blocContact">
    <form action="https://formcarry.com/s/RfmRyl_7ud0" method="POST" accept-charset="UTF-8" >
        <div class="contactName">
            <input type="text" name="prenom" id="prenom" placeholder="Prénom">
            <input type="text" name="nom" id="nom" placeholder="Nom">
        </div>
        <input type="email" name="email" id="email" placeholder="Adresse mail"><br>
        <textarea class="textContact" name="texte" id="texte" placeholder="Message" cols="30" rows="10"></textarea><br>
        <input type="hidden" name="_gotcha">
        <button class="btnContact" type="submit">Envoyer</button>
    </form>
</div>
