<h2>Contact</h2>

<div class="blocContact">
    <form action="https://formcarry.com/s/RfmRyl_7ud0" method="POST" accept-charset="UTF-8" >
        <label for="nom">Nom:</label>
        <input type="text" name="nom" id="nom"><br>
        <label for="email">Adresse mail:</label>
        <input type="email" name="email" id="email"><br>
        <textarea class="textContact" name="texte" id="texte" placeholder="Votre texte..." cols="30" rows="10"></textarea><br>
        <input type="hidden" name="_gotcha">
        <button class="btnContact" type="submit" style="border:none;">Envoyer</button>
    </form>
</div>
