<app-wave></app-wave>

<div class="container">
    <div data-aos="fade-down" data-aos-delay="300" data-aos-duration="600">
        <app-about></app-about>
    </div>
    <div data-aos="fade-down" data-aos-delay="300" data-aos-duration="600">
        <app-skills></app-skills>
    </div>
    <div data-aos="fade-down" data-aos-delay="300" data-aos-duration="600">
        <app-projects></app-projects>
    </div>
    <div data-aos="fade-down" data-aos-delay="300" data-aos-duration="600">
        <app-contact></app-contact>
    </div>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>
