@font-face
    font-family: 'Helvetica-Blk'
    src: url("/assets/fonts/HelveticaLTStd-Blk.otf")

@font-face
    font-family: 'Helvetica-Bold'
    src: url("/assets/fonts/HelveticaLTStd-Bold.otf")

@font-face
    font-family: 'Helvetica-Lght'
    src: url("/assets/fonts/HelveticaLTStd-Light.otf")

body, html
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    box-sizing: border-box
    background-color: #fff
    scroll-behavior: smooth
    font-family: 'Helvetica-Lght'

a
    text-decoration: none

h2
    font-family: 'Helvetica-Bold'
    margin-bottom: 50px

h3
    font-family: 'Helvetica-Bold'
    font-size: 3em

.blank
    height: 200px